<ul>
    <% @support_requests.each do |support_request| %>
        <li>
            <h1 class="text-lg font-medium">
                On <%= support_request.created_at.to_formatted_s(:long) %>
                <code><%= support_request.email %></code> writes:
            </h1>
            <blockquote class="border-l-4 border-gray-500 italic my-8 pl-4 md:pl-8 py-4 mx-4 md:mx-10 max-w-md">
                <p>
                    <h2 class="font-medium"><%= support_request.subject %></h2>
                    <p class="text-gray-600"><%= support_request.body %></p>
                </p>
            </blockquote>
            <% if support_request.order %>
                <h3 class="text-base font-semibold leading-7 text-gray-900">Recent Order</h3>
                <dl class="divide-y divide-gray-100">
                    <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                        <dt class="text-sm font-medium leading-6 text-gray-900">Name</dt>
                        <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0"><%= support_request.order.name %></dd>
                    </div>

                    <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                        <dt class="text-sm font-medium leading-6 text-gray-900">Email</dt>
                        <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0"><%= support_request.order.email %></dd>
                    </div>

                    <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                        <dt class="text-sm font-medium leading-6 text-gray-900">Address</dt>
                        <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0"><%= support_request.order.address %></dd>
                    </div>

                    <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                        <dt class="text-sm font-medium leading-6 text-gray-900">Pay Type</dt>
                        <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0"><%= support_request.order.pay_type %></dd>
                    </div>

                    <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                        <dt class="text-sm font-medium leading-6 text-gray-900">Line Items</dt>
                        <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">
                            <ul>
                                <% support_request.order.line_items.each do |line_item| %>
                                    <li>
                                        <%= line_item.product.title %>
                                        (<%= number_to_currency(line_item.product.price) %>)
                                    </li>
                                <% end %>
                            </ul>
                        </dd>
                    </div>
                </dl>
            <% else %>
                <h3 class="border border-red-400 bg-red-100 px-4 py-3 text-red-700">No associated order</h3>
            <% end %>
            <% if support_request.response.blank? %>
                <%= form_with(model: support_request,
                              local: true,
                              class: "depot_form") do |form| %>
                <div class="field">
                    <%= form.label :response, "Write response:" %>
                    <%= form.rich_text_area :response, id: :support_request_response %>
                </div>
                <div class="actions">
                    <%= form.submit "Submit Response" %>
                </div>
                <% end %>
            <% else %>
                <div class="mt-4 mb-4 bg-green-100">
                    <h4 class="md:mx-10 text-base font-semibold leading-7 text-gray-900">Our response:</h4>
                    <p>
                        <blockquote class="border-gray-500 italic my-8 pl-4 md:pl-8 md:mx-10 max-w-md">
                            <%= support_request.response %>
                        </blockquote>
                    </p>
                </div>
            <% end %>
            <hr class="border-green-700">
        </li>
    <% end %>
</ul>